#flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.imageProfile{
    width: 15vw;
    border-radius: 10vw;
    margin-bottom: 3vh;
}

.name{
    font-size: 2vw;
    padding-bottom: 2vh;
}

.position{
    font-weight: bold;
}