#topText{
    font-size: 2vw;
    font-style: italic;
}

#flexContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    width: 50%;
    height: 70%;
}

#formContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.formSection{
    width: 20vw;
}

#formContainer > div > input[type=text]{
    width: 100%;
    height: 4vh;
    border-radius: .3vw;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 1vh .5vw;
    font-size: 1vw;
}

#formContainer > div > input[type=text]:hover{
    cursor: auto;
}

#messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#messageContainer > textarea{
    width: 100%;
    height: 15vh;
    resize: none;
    border-radius: .3vw;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 1vh .5vw;
    font-size: 1vw;
}

#messageContainer > textarea:hover{
    cursor: auto;
}

.subTitle{
    width: 100%;
    padding-bottom: 2vh;
}

form > input[type=submit]{
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 1.5vh 1vw;
    border-radius: .3vw;
}

form > input[type=submit]:hover{
    cursor: pointer;
}