#flexContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

#form > form{
    padding-bottom: 10vh;
}

#form > form > input[type=text]{
    padding: 1vh 1vw;
    border-radius: .3vw;
    margin-right: 1.5vw;
    font-size: 1.5vw;
    background-color: rgb(19, 19, 19);
    outline: grey;
    color: white;
}

::placeholder{
    color: white;
    opacity: .6;
}

#form > form > input[type=text]:hover{
    cursor: auto;
}

#form > form > input[type=submit]{
    padding: 1vh 1vw;
    border-radius: .3vw;
    font-size: 1.5vw;
    background-color: rgb(17, 17, 17);
    color: white;
}

#form > form > input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(29, 29, 29);
}

#form > div > img{
    border-radius: 10vw;
    width: 10vw;
    border: solid rgba(255, 255, 255, 0.199) .3vw;
}

#text{
    width: 50%;
    font-size: 2.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
}

td{
    padding: 4vh 1vw;
}

tr{
    background-color: rgb(19, 19, 19);
}