<!DOCTYPE html>
<html lang="en">
    <head>
        {{>data}}
        {{>links}}
    </head>
    <body>
        {{>header}}
        <div id="text">404 Error :(</div>
        {{>footer}}
    </body>
</html>