<!DOCTYPE html>
<html lang="en">
    <head>
        {{>data}}
        {{>links}}
    </head>
    <body>
        {{>header}}
        <div id="mainScreen">
            <div id="mainTitle">Weather Track</div>
            <div id="subTitle">Keep track of the weather around the globe!</div>
        </div>
        {{>footer}}
    </body>
</html>