<header>
    <div id="logos">
        <img src="../img/weather_logo.png">
        <span>Weather Track</span>
    </div>
    <div id="menu">
        <span>Weather</span>
        <span>About Us</span>
        <span>Help</span>
    </div>
</header>