<header>
    <div id="logos">
        <img onclick="window.location.href = 'http://localhost:3000'" src="../img/weather_logo.png">
        <span onclick="window.location.href = 'http://localhost:3000'">Weather Track</span>
    </div>
    <div id="menu">
        <span onclick="window.location.href = 'http://localhost:3000/weather'">Weather</span>
        <span onclick="window.location.href = 'http://localhost:3000/about'">About Us</span>
        <span onclick="window.location.href = 'http://localhost:3000/help'">Help</span>
    </div>
</header>